*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card{
    margin-left: 925px;
    margin-bottom: 165px;
    margin: auto px;
    padding: auto;
    margin-top: 200px;
}

h3{
    margin-right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    
}

.aboutme{
   padding-right: 100px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


p{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
}

div#stripes {
    height:50px;
    width: 2000px;
    background-image: linear-gradient(45deg, #000 25%, transparent 25%, transparent 50%, #000 50%, #000 75%, transparent 75%, rgb(251, 251, 251));
    background-size: 50px 50px;
    margin-bottom: 50px;
  }

.img{
    padding: auto;
    margin: 80px;
     margin-bottom: 40px;
   /* margin-left: 150px; */
    float: left;

}

footer{
    
}