*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card{
    margin-left: 925px;
    margin-bottom: 260px;
    margin: auto px;
    padding: auto;
    margin-top: 200px;
}

h3{
    margin-right: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    


}

.aboutme{
   padding-right: 100px;
}


p{
    text-decoration: none;
    
}

.img{
    padding: auto;
    margin: 80px;
     margin-bottom: 400px;
   /* margin-left: 150px; */
    float: left;

}

footer{
    
}